.page {
  max-width: 1600px;
  min-width: 1100px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.header {
  display: flex;
  flex-direction: column;
  min-height: 720px;
  padding: 30px 80px 40px;
  box-sizing: border-box;
  background-color: white;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  height: 80px;
  width: 58px;
}
.nav__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  margin-top: 8px;
  list-style-type: none;
}
.nav__link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  color: black;
  flex: 1;
}
.header__text {
  max-width: 635px;
}
.header__image {
  max-width: 636px;
  width: 100%;
  height: auto;
}
.header__title {
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
  margin: 128px 0 0;
  text-align: center;
  max-width: 635px;
}
.header__description {
  max-width: 515px;
  font-size: 20px;
  line-height: 30px;
  margin: 32px 0 0;
}
.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}
.header__link {
  color: #2f80ed;
  text-decoration: none;
  font-weight: bold;
}
.header__address {
  margin: 0;
  color: #838383;
}
.staff {
  background-image: url("../images/staff_picks_background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 100px 100px 140px 100px;
}
.staff__title {
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 24px;
  color: #ffffff;
  text-align: center;
}
.staff__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 760px;
  gap: 40px;
  list-style-type: none;
  padding: 0;
  margin: 68px auto 0;
}
.staff__subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
}
.card {
  width: 360px;
  border-radius: 6px;
  padding: 32px 40px 20px 32px;
  box-sizing: border-box;
  background-color: #fff;
  height: 420px;
  display: flex;
  flex-direction: column;
}
.card__content {
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
}
.card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}
.card__text {
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0 0;
}
.card__footer {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  margin-top: auto;
  color: #838383;
}
.events {
  padding: 100px 0 120px 80px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #f2f2f2;
}
.events__content {
  flex-basis: 580px;
}
.events__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}
.events__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  margin: 32px 0 0;
}
.events__info-section {
  margin-top: 32px;
}
.event-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-weight: 500;
}
.event-info__icon {
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
  width: 24px;
  height: 24px;
}
.event-info__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}
.events__description {
  margin: 40px 0 60px;
}
.events__more {
  color: #2f80ed;
  text-decoration: none;
}
.events__cover {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 780px;
  max-width: 780px;
  position: relative;
}
.events__image {
  max-width: 100%;
}
.person {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.person_name_feynman {
  top: -30px;
  left: 319px;
}
.person_name_burbidge {
  top: 96px;
  right: 125px;
}
.person_name_cannon {
  bottom: 18px;
  right: 216px;
  flex-direction: column-reverse;
}
.person_name_mitchell {
  bottom: 82px;
  left: 142px;
  flex-direction: column-reverse;
}
.person_name_tarter {
  top: 79px;
  left: 159px;
}
.person__image {
  max-width: 100%;
}
.person__image_size_l {
  width: 140px;
}
.person__image_size_m {
  width: 100px;
}
.person__image_size_s {
  width: 80px;
}
.person__caption {
  text-align: center;
  font-size: 14px;
  margin: 0;
}
.membership {
  padding: 100px 0 140px;
  background-color: #057bf2;
  color: #ffffff;
  text-align: center;
}
.membership__title {
  max-width: 574px;
  margin: 0 auto;
  text-align: center;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
}
.membership__steps {
  list-style-type: none;
  margin: 100px 0 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  max-width: fit-content;
  align-items: center;
}
.step {
  color: white;
  padding: 40px;
  border-radius: 10px;
  flex-basis: 25%;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}
.step__title {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.step__icon {
  margin-left: 10px;
}
.step__description {
  margin: 10px 0 0;
  text-align: left;
}
.footer {
  background-color: #1f1f1f;
  color: #fff;
  padding: 60px 80px;
}
.footer__columns {
  display: flex;
}
.footer__column_content_hours {
  margin-left: auto;
}
.footer__column_content_social {
  margin-left: 80px;
}
.footer__logo {
  width: 58px;
  height: 80px;
}
.footer__column-heading {
  margin-bottom: 20px;
}
.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__list-item {
  margin-bottom: 16px;
}
.footer__column-link {
  color: white;
  text-decoration: none;
  list-style-type: none;
}
.footer__column-link:hover {
  text-decoration: underline;
}
.footer__social-icon {
  width: 20px;
  height: 16px;
  margin-right: 10px;
  vertical-align: middle;
}
.footer__copyright {
  margin-top: 100px;
}
